/* Hero especial para registro */
.hero-registro {
    background-color: #DCEBFF;
    padding: 50px 20px;
    text-align: center;
}

.hero-registro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

/* Formulario */
.form-card {
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border: 1px solid #bbb;
    border-radius: 6px;
    font-size: 1rem;
}

input:focus {
    outline: 2px solid #005BBB;
}

.btn-registrar {
    background-color: #005BBB;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

.btn-registrar:hover {
    background-color: #004799;
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
